section.section.header-background
    .container
        ul.social
            li.social__item
                img(src="assets/images/icons/vk.svg" alt="").social__link
            li.social__item
                img(src="assets/images/icons/github.svg" alt="").social__link
            li.social__item
                img(src="assets/images/icons/in.svg" alt="").social__link
        .hamburger-menu
            a(href="#").hamburger-menu-link
            .hamburger-menu-link__bars
        .header__center
            .header__info
                .header__img
                .header__name Андрей Трухачев
                .header__text Личный сайт веб разработчика
        .arrow 
            svg.arrow__icon
                use(xlink:href="assets/images/sprite/sprite.svg#arrow")
    .triangle-container
        .header__triangle
            svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="triangle")
                polygon(class = "left" points="0,0   0,200   1000,200   1000,75.5")
        .header__triangle
            svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="triangle")
                polygon(class = "right" points="1000, 0   1000, 200   0, 200   0, 75.5")