ul.menu
    li.menu__link
        a(href="/my-works.html").menu__item  Мои работы
    li.menu__link
        a(href="/about.html").menu__item  Обо мне
    li.menu__link
        a(href="/blog.html").menu__item  Блог
    li.menu__link
        a(href="/authorization.html").menu__item Авторизация