.blog-section {
    display: flex;
    padding-bottom: rem(160px);
    padding-top: rem(70px);
    background: #faf8f0;
}

.blog__left {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.blog-named__item {
    text-align: left;
    font-size: rem(16px);
    margin-bottom: rem(16px);
    padding: rem(10px) rem(30px) rem(10px) 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include roboto(regular, normal);
    &:hover{
        color: $blue-dark;
        border-right: solid rem(2px) #004cd1;
        @include roboto(bold, normal);
    }
}

.active {
    color: $blue-dark;
    border-right: solid rem(2px) #004cd1;
    @include roboto(bold, normal);
}

.blog__right {
    width: 75%;
    padding: 0 10%;
}

.blog-content__name {
    margin-top: 0;
    font-size: rem(35px);
    margin-bottom: 1rem;
    @include sansus();
}

.blog-content__date {
    color: #5074b1;
    font-size: rem(16px);
    font-weight: 300;
    margin-bottom: rem(16px);
    @include roboto(regular, normal);
}

.blog-content__text {
    font-size: rem(16px);
    font-weight: 400;
    margin-bottom: rem(50px);
    @include roboto(regular, normal);
}

.blog-content__border-block {
    height: 0.25rem;
    width: 75%;
    margin-bottom: 3rem;
}