.header-wel__name{
    font-size: rem(28px);
    @include roboto(medium, normal);
    margin-top: rem(10px);
    @include phones{
        font-size: rem(21px);
    }
}
.social-wel{
    display: flex;
    justify-content: center;
    margin-bottom: rem(20px);
}
.social__link-icon{
    fill: #0a42a9;
    width: rem(30px);
    height: rem(20px);
}
.social__btn:hover{
    .social__link-icon{
        fill: #014bcd;
    }
}
.authorization-wel{
    display: flex;
    justify-content: flex-end;
    padding: 0 rem(36px);
    @include phones{
        justify-content: center;
    }
}
.authorization-wel__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-size: rem(16px);
    @include roboto(medium, normal);
    border: rem(1px) solid #ffffff;
    width: rem(180px);
    height: rem(45px);
    &:hover{
        background: $blue-dark;
        border: 0;
    }
    @include tablets{
        width: rem(145px);
        height: rem(40px);
        font-size: rem(14px);
    }
}
