extends ../template

block variables
  - var title = 'Блог'

block content
  h1 Блог
  div.left__menu 
    ul
      li
        div.left__menu-text Далеко-далеко за словесными горами
      li
        div.left__menu-text Далеко-далеко за словесными горами
      li
        div.left__menu-text Далеко-далеко за словесными горами
      li
        div.left__menu-text Далеко-далеко за словесными горами
      li
        div.left__menu-text Далеко-далеко за словесными горами
  div.article 
    ul
      li
        h2 Заголовок статьи
        p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
      li
        h2 Ещё статья
        p Далеко-далеко за словесными горами в стране.
      li
        h2 Последняя статья
        p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Курсивных то осталось за.
