extends ../template

block variables
  - var title = 'Андрей Трухачев'

block content
  section.section.welcome.header-background
    .container
      .authorization-wel
        a(href="/authorization.html").authorization-wel__btn Авторизоваться
      .form-center
        form.form
          .header__center.header-wel
            .header__info
                .header__img
                .header-wel__name Андрей Трухачев
                .header__text Личный сайт веб разработчика
          ul.social-wel
            li.social__item
              a(href="https://vk.com/andrei_tr").social__btn
                svg.social__link-icon
                  use(xlink:href="assets/images/sprite/sprite.svg#vk")
            li.social__item
              a(href="https://github.com/andrey-tru").social__btn
                svg.social__link-icon
                  use(xlink:href="assets/images/sprite/sprite.svg#github")
            li.social__item
              a(href="https://www.instagram.com/andres36n/").social__btn
                svg.social__link-icon
                  use(xlink:href="assets/images/sprite/sprite.svg#inst")
          .hero__block
            button(type="button" class="button button-border" onclick="window.location.href='/my-works.html'") Мои работы
            button(type="button" class="button button-border" onclick="window.location.href='/about.html'") Обо мне
            button(type="button" class="button" onclick="window.location.href='/blog.html'") Блог