extends ../template

block variables
  - var title = 'Мои работы'

block content  
  section.section.header-background
    .container
      .menu__container
        ul.social
            li.social__item
                a(href="https://vk.com/andrei_tr").social__btn
                    svg.social__link
                        use(xlink:href="assets/images/sprite/sprite.svg#vk")
            li.social__item
                a(href="https://github.com/andrey-tru").social__btn
                    svg.social__link
                        use(xlink:href="assets/images/sprite/sprite.svg#github")
            li.social__item
                a(href="https://www.instagram.com/andres36n/").social__btn
                    svg.social__link
                        use(xlink:href="assets/images/sprite/sprite.svg#inst")
        .hamburger-menu
            a(href="#").hamburger-menu-link
            .hamburger-menu-link__bars
      .header__work
        .header__work-center
            .header__info
                .header__img
                .header__name Андрей Трухачев
                .header__text Личный сайт веб разработчика
        .arrow 
          svg.arrow__icon
              use(xlink:href="assets/images/sprite/sprite.svg#arrow")
    .triangle-container.triangle-work
      .work__text
        .triangle-text Мои работы
      .header__triangle
          svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="triangle work-triangle")
              polygon(class = "work-triangle" points="0,0   0,200   1000,200   1000,35.5")
      .header__triangle
          svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="triangle work-triangle")
              polygon(class = "work-triangle" points="1000, 0   1000, 200   0, 200   0, 35.5")
  section.section
    .container
      .work
        .work__left
          .block-text.work-text Сайт школы онлайн образования
          .block-band
          .work__left-web Html, css, javascript
          button.work__button
            .work__button-svg 
              svg.social__link
                use(xlink:href="assets/images/sprite/sprite.svg#link")
            .work__button-text Посмотреть сайт
        .work__right-pic
          ul#slides
            li.slide.showing
            li.slide
            li.slide
        .work__right-controls
          .buttons
            button.controls#previous &lt;
            button.controls#next &gt;
  section.section.reviews
    .container
      .review__text Что обо мне говорят
      ul.reviews__list
        li.reviews__item
          .reviews__img 
            img(src="assets/images/dima.png", alt="")
          p.reviews__txt Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .reviews__name Ковальчук Дмитрий
          .reviews__rang — основатель Loftschool
        li.reviews__item
          .reviews__img 
            img(src="assets/images/vova.png", alt="")
          p.reviews__txt Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!
          .reviews__name Сабанцев Владимир
          .reviews__rang — преподаватель
      .reviews__center
        form.form.reviews__form
          .block-text.color__text Связаться со мной
          .block-band
          input(type="text" id="name" placeholder="Ваше имя").work__input.work__input-text
          input(type="text" id="email" placeholder="Ваш e-mail").work__input.work__input-text
          input(type="text" id="message" placeholder="Ваше сообщение").work__input.work__text-area  
          .hero__block
            button(type="submit" class="button") Отправить
            button(type="submit" class="button reviews__button") Очистить
  include ../common/footer.pug