extends ../template

block variables
  - var title = 'Андрей Трухачев'

block content
  section.section.welcome
    .container
      .form-center
        form.form
          h1.hero__text Авторизуйтесь