$blue: #0548be;
$blue-dark: #083c96;

$tablets: 768px;
$phones: 480px;

body{
    margin: 10px;
    background: #ffffff;
}

@import 'layout/media';
@import 'layout/normalize';
@import 'layout/layout';
@import 'layout/fonts';

@import 'common/technologies';
@import 'common/slider';
@import 'common/menu';
@import 'common/form';
@import 'common/background';
@import 'common/footer';

@import 'blocks/hero';
@import 'blocks/section';
@import 'blocks/about';
@import 'blocks/work';
@import 'blocks/blog';
@import 'blocks/welcome';
