.header-background{
    background: url("../images/im-bg.png") center center no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    padding-top: rem(30px);
    display: flex;
    flex-flow: wrap;
    align-content: space-between;
}
.header-blog{
    height: 70vh;
}
.menu__container{
    display: flex;
    flex-direction: row;
}
.social{
    display: flex;
    padding: 0 rem(30px);
    justify-content: flex-start;
}
.social__item {
    margin-left: rem(20px); 
    &:first-child {
        margin-left: 0; 
    }
}
.social__link {
    fill: #ffffff;
    width: rem(30px);
    height: rem(20px);
}
.social__btn:hover{
    .social__link{
        fill: #004cd1;
        opacity: 1;
    }
}
.hamburger-menu {
    fill: white;
    height: 1.75rem;
    width: 1.75rem;
}
.header__bot{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 80vh;
}
.header__center{  
    height: 60vh;
}
.header__center-blog{
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 55vh;
}
.header__work{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 65vh;
}
.header__work-center{   
    height: 55vh;
}
.header__info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    font-size: rem(16px);
    @include roboto(regular, normal);
}
.header__img{
    width: rem(140px);
    height: rem(140px);
    border-radius: 50%;
    background: url("../images/my.png") center center no-repeat;
    background-size: 100%;
    overflow: hidden;
}
.header__name{
    font-size: rem(35px);
    @include roboto(medium, normal);
}
.header__title{
    font-size: rem(63px);
    @include sansus();
}
.arrow {
    position: absolute;
    bottom: rem(0px);
    left: 50%;
    width: rem(40px);
    transform: translateX(-50%);
    transition: .3s;
    height: rem(40px);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      .arrow__icon {
        margin-top: rem(-10px);
        width: rem(20px);
        height: rem(20px);
        }
    }
}
.arrow__icon {
    width: rem(20px);
    height: rem(20px);
    transition: .3s;
    fill: #fff;
}

.header__triangle {
    width: 50%;
    height: rem(320px);
    position: relative;
}

.triangle-container {
    position: relative;
    display: flex;
    height: 0;
    width: 100%;
    overflow: visible;
}

.triangle {
    position: absolute;
    width: 100%;
    top: rem(-190px);
    height: rem(190px);
}
.triangle-work{
    height: auto; 
}
.work-triangle{
    top: -25%;
    height: rem(260px);
}
.triangle .left {
    fill: #f2f0e8;
}

.triangle .right {
    fill: #f4f5f0;
}
.triangle .blog-triangle{
    fill: #faf8f0;
}
.triangle .work-triangle{
    fill: #0d1020;
    opacity: .9;
}
.figure{
    display: flex;
    flex-direction: row;
}
.work__text{
    position: absolute;
    width: 100%;
    z-index: 10000;
    height: rem(175px);
}
.triangle-text{
    font-size: rem(63px);
    height: 100%;
    @include sansus();
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}