.footer {
    background-color: rgba(34, 42, 60, .85);
    height: rem(160px);
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; 
}
.footer__center{
    display: flex;
    flex-direction: row;
    padding: rem(30px) 0;
}
.footer__container {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #63656c;
    &:last-child{
        border: 0;
    }
}

.footer__menu {
    width: 100%;
    padding: 0 rem(30px);
}


.footer__social {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer__social-item {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: rem(20px);
    opacity: 0.5;
}
.footer__item{
    display: flex;
    align-items: center;
    margin-bottom: rem(5px);
    &:first-child{
        margin: 0;
    }
}

.footer__text {
    font-size: rem(16px);
    color: #c4c6cb;
    margin-bottom: rem(0px);
    padding: 0 rem(30px); 
    @include roboto(light, normal);
}
.social__color{
    opacity: 0.5;
}