.menu{
    padding: 0;
    .menu__link{
        display: inline-block;
        list-style: none;
        margin-right: rem(28px);
        &:last-child{
            margin: 0;
        }
        .menu__item {
            text-decoration: none;
            color: #ffffff;
            font-size: rem(16px);
            @include roboto(light, normal);
        }
    }
}